*{
    padding: 0;
    margin: 0;
}

h1,h2{
    color: rgb(91, 29, 149);
    text-align: center;
}
header{
    background-color: lightslategray;
}
footer{
    background-color: lightslategray;
}

.cuerpo{
    height: 30rem;
    background-color:rgb(5, 7, 46) ;
}
